.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    justify-items: center;
    padding: 2rem;
    margin: 2rem;
    width: 9rem;
    height: 9rem;
    background-color: #fff;
    border-radius: 1.75rem;
    animation: 1s ease-in-out slideup,1.25s ease-in-out fadein;
    cursor: pointer;
  .title {
    font-size: 2em;
  }
  img {
    height: 100px;
  }

}
  /* Grow */
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    transform: scale(1.1);
  }

  .hvr-grow:active {
    animation: shake 0.5s;
  }

  @-webkit-keyframes heartBeat {
    0%, 28%, 70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14%, 42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
  
  @keyframes heartBeat {
    0%, 28%, 70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14%, 42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
  
  .heartBeat {
    -webkit-animation: heartBeat ease-in-out 1.3s infinite;
    animation: heartBeat 1.3s ease-in-out infinite;
  }
  