.learning-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  justify-items: center;
  padding: 2rem;
  margin: 2rem;
  width: 19rem;
  height: 30rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 1.75rem;
  animation: 1s ease-in-out slideup, 1.25s ease-in-out fadein;

  .title {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
  .img {
    width: 10rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .learning-card {
    width: 15rem;
  }
}

.fade-in-right {
  animation: 0.25s ease-in-out fadeInRight;
}

.fade-in-left {
  animation: 0.25s ease-in-out fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
