.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}
.day {
  background-color: white;
}
.night {
  background-color: #100e17;
}
.MuiAppBar-colorPrimary {
  color: #000;
  background-color: #fff;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  align-items: center;
  flex-flow: column;
  transition: background .3s linear;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#5ee7df),to(#66a6ff));
  background-image: linear-gradient(to top,#5ee7df 0,#66a6ff 100%);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* Icon Grow */
.hvr-icon-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon, .hvr-icon-grow:active .hvr-icon {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}